---
# this is an empty front matter
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Mikel Emaldi Manrique</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      {% include header.html %}
      <section class="main">
          <h2>Publications</h2>
          <h3>Book Chapters</h3>
          {% for publication in site.data.books %}
            <p class="publication">
              {{publication.authors}} ({{publication.year}}). <b>{{publication.title}}</b>. In <i>{{publication.in}}</i> {% if publication.start_page and publication.end_page %}(pp. {{publication.start_page}}-{{publication.end_page}}){% endif %}.
            </p>
            <p class="img" align="right"> <a onclick="showBibtex('book-bibtex-{{forloop.index}}')" id="{{forloop.index}}"><img src="img/bibtex.png"/></a> <a href="pdf/immoa2013.pdf"><img src="img/pdf.png"/></a> </p>
            <span hidden="true" id="book-bibtex-{{forloop.index}}">
              {% highlight latex %}
                @incollection{emaldi{{publication.year}}book{{forloop.index}},
                  title={ {{publication.title}} },
                  author={ {{publication.authors}} },
                  booktitle={ {{publication.in}} },
                  year={ {{publication.year}} }{% if publication.start_page and publication.end_page %},
                  pages={ {{publication.start_page}}--{{publication.end_page}} }{% endif %}
                }
              {% endhighlight %}
            </span>
          {% endfor %}

          <h3>Conference papers</h3>
          {% for publication in site.data.conferences %}
            <p class="publication">
              {{publication.authors}} ({{publication.year}}). <b>{{publication.title}}</b>. In <i>{{publication.in}}</i> {% if publication.start_page and publication.end_page %}(pp. {{publication.start_page}}-{{publication.end_page}}){% endif %}.
            </p>
            <p class="img" align="right"> <a onclick="showBibtex('conference-bibtex-{{forloop.index}}')" id="{{forloop.index}}"><img src="img/bibtex.png"/></a> <a href="{{publication.slides}}"><img src="img/slides.png"/></a> <a href="{{publication.pdf}}"><img src="img/pdf.png"/></a> </p>

            <span hidden="true" id="conference-bibtex-{{forloop.index}}">
              {% highlight latex %}
                @inproceedings{emaldi{{publication.year}}conf{{forloop.index}},
                  title={ {{publication.title}} },
                  author={ {{publication.authors}} },
                  booktitle={ {{publication.in}} },
                  year={ {{publication.year}} }{% if publication.start_page and publication.end_page %},
                  pages={ {{publication.start_page}}--{{publication.end_page}} }{% endif %}
                }
              {% endhighlight %}
            </span>

          {% endfor %}

          <h3>Journal articles</h3>
          {% for publication in site.data.journals %}
            <p class="publication">
              {{publication.authors}} ({{publication.year}}). <b>{{publication.title}}</b>. In <i>{{publication.in}}</i> {% if publication.start_page and publication.end_page %}(pp. {{publication.start_page}}-{{publication.end_page}}){% endif %}.
            </p>
            <p class="img" align="right"> <a onclick="showBibtex('journal-bibtex-{{forloop.index}}')" id="{{forloop.index}}"><img src="img/bibtex.png"/></a> <a href="{{publication.slides}}"><img src="img/slides.png"/></a> <a href="{{publication.pdf}}"><img src="img/pdf.png"/></a> </p>

            <span hidden="true" id="journal-bibtex-{{forloop.index}}">
              {% highlight latex %}
                @inproceedings{emaldi{{publication.year}}conf{{forloop.index}},
                  title={ {{publication.title}} },
                  author={ {{publication.authors}} },
                  booktitle={ {{publication.in}} },
                  year={ {{publication.year}} }{% if publication.start_page and publication.end_page %},
                  pages={ {{publication.start_page}}--{{publication.end_page}} }{% endif %}
                }
              {% endhighlight %}
            </span>

          {% endfor %}

      </section>

      <aside>
        <nav>
            <ul>
                <li><a href="index.html">About</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li><a href="projects.html">R&amp;D projects</a></li>
                <li>-</li>
                <li><a href="https://github.com/memaldi">GitHub</a></li>
                <li><a href="http://es.linkedin.com/in/memaldi/en">LinkedIn</a></li>
            </ul>
        </nav>
    </aside>

        </div>
    </div>
      <script src="/assets/themes/ghminimal/js/scale.fix.js"></script>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39724260-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        function showBibtex(item){
          $("#" + item).toggle();
        }

    </script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </body>
</html>
